# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [1]:
name = "     Austin"
print(name.lstrip())

name = "     Austin"
print (name.lstrip(" A"))

Austin
ustin

##### .rstrip()

In [2]:
name = "     Pari    "

In [3]:
name.rstrip(" i")

'     Par'

In [4]:
print(name.rstrip("r i"))
print (name.rstrip("i r"))
print (name.rstrip("ir"))

     Pa
     Pa
     Pari

##### .strip()

In [5]:
name = "    Jesus  "

In [6]:
name.strip()

'Jesus'

In [7]:
word = "racercar"
word.strip("r at")

'cerc'

##### .title()

In [8]:
my_string="i P FrEely"

In [9]:
my_string.title()

'I P Freely'

In [10]:
my_string.lower()

'i p freely'

In [11]:
my_string.upper()

'I P FREELY'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [12]:
names = ['       coNNor', 'max', '  EVan', 'JORDAN']

In [13]:
for name in names:
    print (name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [14]:
my_list = [88,56,234,4,654,2,44,6]
min(my_list)

2

##### max()

In [15]:
max(my_list)

654

##### sum()

In [16]:
help (sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [17]:
sum(my_list)

1088

In [18]:
sum (my_list, start=300)

1388

##### sorted()

In [19]:
#built in Function in python. Works on any iterable.
#return a copy of the array in sorted order... out of place
print (sorted(my_list))
print (my_list)
my_list = sorted(my_list)
print (my_list)

print(sorted("zdsakjfasd"))

print(sorted("zdsakjfasd", reverse=True))
      
print(sorted("zdsakjfasd", reverse=False))

[2, 4, 6, 44, 56, 88, 234, 654]
[88, 56, 234, 4, 654, 2, 44, 6]
[2, 4, 6, 44, 56, 88, 234, 654]
['a', 'a', 'd', 'd', 'f', 'j', 'k', 's', 's', 'z']
['z', 's', 's', 'k', 'j', 'f', 'd', 'd', 'a', 'a']
['a', 'a', 'd', 'd', 'f', 'j', 'k', 's', 's', 'z']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [20]:
#method of the list class. Only works on list class.
my_list = [88,56,234,4,654,2,44,6]

print(my_list.sort())
print(my_list)

None
[2, 4, 6, 44, 56, 88, 234, 654]

##### Copying a List

In [21]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1

my_list2.append(6)
print (my_list2)
print (my_list1)

#equal sign works both ways, so you often don't want to do that. 
#You probably wnat to change just a copy.

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [22]:
my_list1=[1,2,3,4,5]
my_list2= my_list1[:]
my_list2.append(6)
print (my_list2)
print (my_list1)

#the slice isn't the same as the original object, 
#even if it's a slice equalling the whole.

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

##### 'in' keyword

In [23]:
5 in [2,3,7] #note: with a list this is basically a for loop
5 in {2,3,5,7} #this is a constant time operation

True

##### 'not in' keyword

In [24]:
bool([1,2,3])

True

##### Checking an Empty List

In [25]:
my_list = []
if my_list == []:
    print("It's empty")
    
if len(my_list) ==0:
    print ("It's empty")
    
if not my_list: #most common way to check empty list
    print("It's empty")

if my_list: #most common overall. usually look for full.
    pass

It's empty
It's empty
It's empty

##### Removing Instances with a Loop

In [26]:
names = ["Toan", "Tim", "Steve", "McCall", "Steve", "Anu"]

while "Steve" in names:
    names.remove("Steve")
    print (names)
print (f"list at the end of the loop: {names}")

['Toan', 'Tim', 'McCall', 'Steve', 'Anu']
['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop: ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [27]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
#I need to create a new list to add items to.

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
        
print (new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [28]:
nums = []
for i in range(100):
    nums.append(i)
print (nums)

nums_comp = [i**2 for i in range (100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [29]:
names = ["Mark", "Eduardo", "C-tina", "Tate", "Pari"]
first_char_comp = [name[0] for name in names]
print (first_char_comp)

['M', 'E', 'C', 'T', 'P']

In [30]:
#what if we need if statements???

four_letter_names = [name for name in names if len(name) == 4]
print (four_letter_names)


#add people whose length is not 5 into the list as "not five"
four_letter_names = [name if len(name) == 4 else "not 4" for name in names ]
print (four_letter_names)

['Mark', 'Tate', 'Pari']
['Mark', 'not 4', 'not 4', 'Tate', 'Pari']

In [31]:
la = [1,2,3,4,5]
lb = ["A", "B", "C", "D", "E"]

let_num = []
for number in la:
    for letter in lb:
        let_num.append(str(number)+letter)
        
print(let_num)

['1A', '1B', '1C', '1D', '1E', '2A', '2B', '2C', '2D', '2E', '3A', '3B', '3C', '3D', '3E', '4A', '4B', '4C', '4D', '4E', '5A', '5B', '5C', '5D', '5E']

In [32]:
let_num = [f'{number}{letter}' for number in la for letter in lb]
print (let_num)

['1A', '1B', '1C', '1D', '1E', '2A', '2B', '2C', '2D', '2E', '3A', '3B', '3C', '3D', '3E', '4A', '4B', '4C', '4D', '4E', '5A', '5B', '5C', '5D', '5E']

In [33]:
sentence = ["Today", "is", "the", "day", "that's", "gonna", "bring", "it", "back", "to", "you"]

letters = []

for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

['T', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y', 't', 'h', 'a', 't', "'", 's', 'g', 'o', 'n', 'n', 'a', 'b', 'r', 'i', 'n', 'g', 'i', 't', 'b', 'a', 'c', 'k', 't', 'o', 'y', 'o', 'u']

In [34]:
letters_comp = list [letter for word in sentence for letter in word]
print (letters_comp)

SyntaxError: invalid syntax (<ipython-input-34-c4918d4349cf>, line 1)

In [ ]:
my_list = ["steve", "susan", "jake", "troy"]
[name[-1].upper() for name in my_list]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
t = 1,2,3
print (t, type(t))

In [ ]:
#empty tuples, basically useless
t_2 = tuple()
t_3 = ()

In [ ]:
my_tup = ("Tim", "David", "Mike")
my_tup[1]

In [ ]:
my_tup.index("Mike")
my_tup[1]=Jones

##### sorted()

In [ ]:
sorted_tup = tuple(sorted(my_tup))
sorted_tup

#sorted gives a list back, unless you specify that you want a tuple

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

In [ ]:
new_tup = (1,2,3,["A", "B", "C"])
print (new_tup [3])
print (new_tup [3][1])
new_tup [3][1]=D
print (new_tup)

## Functions

##### User-Defined vs. Built-In Functions

In [ ]:
#built-in functions
#int, min, max, type, print, sorted, etc...
#user defined function:

def say_hello():
    print("Hello World")
    
say_hello()

##### Accepting Parameters

In [ ]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name,last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("Mark" , "Gerlach")

##### Default Parameters

In [ ]:
def print_agent_name (first, last = "Bond"):
    print (f"Your agent name is {last}, {first} {last}")
           
print_agent_name ("Mark")

print_agent_name ("Mark", "Gerlach")

In [ ]:
print_agent_name (last  = "Gerlach", first="Mark")

##### Making an Argument Optional

In [ ]:
def make_name(first, middle="", last="Ed"):
    print (f"Hello {first} {middle} {last}")
make_name("Mark")

make_name("Mark", "Russell")

make_name("Mark", "Russell", "Gerlach")

make_name("Mark", last="Gerlach")

In [ ]:
def what_datatype ():
    return "jersey mikes"

print( type (what_datatype))

In [ ]:
def return_stops():
    for i in range (10):
        print (i)
        if i ==3:
            return
return_stops()

In [ ]:
def dead_code(): #unreachable code
    print ("Hello")
    return
    print ("Goodbye")#  <-- this code is unreachable!!
    
dead_code()

##### Keyword Arguments

In [ ]:
#*args and **kwargs

def my_func(*args):
    for arg in args:
        print(arg)
        
my_func(2,3,5,6,7,8)

In [ ]:
def my_func (name, **kwargs):
    for key in kwargs:
        print (key, kwargs[key])
my_func ("Mark", height=72, weight=160, foods=["pizza", "tacos", "dim sum", "sushi"])

In [ ]:
def my_sum (*args):
    return sum(args)
    
print (my_sum (1,2,3))

# Creating a start, stop, step function

In [ ]:
def my_range (stop, start=0, step=1):
    for i in range (start, stop, step):
        print (i)
        
my_range(10, 5, 2)

##### Returning Values

In [ ]:
def add_nums (num1, num2):
    return num1+num2

print(add_nums (1,2))

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

##### Docstring

##### Using a User Function in a Loop

In [ ]:
def add_two(n):
    print (n+2)
    
while True:
    ask = int(input("What is your number? "))
    add_two(ask)
    response = input ("ready to quit yet? ")
    if response.lower() == "yes":
        break

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [38]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']
#assume lists are equal length

def add_names (first_names, last_names):
    for i in range (len(first_names) ):
        full_names = []
        for i in range (len(first_names)):
            full_names.append(first_names[i]+ " "+last_names[i])
        return full_names
print(add_names(first, last))

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [36]:
#placement of variable declaration matters

var1 = "A"

def my_function():
    print (var1)
    var2 = "B"
    print (var2)
    
my_function()
print (var2)

A
B

NameError: name 'var2' is not defined

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [15]:
# Use the following list - [1,11,14,5,8,9]
numlist = [1,11,14,5,8,9]

def under_ten (a):
    under_ten_list = []
    for num in a:
            if num < 11:
                under_ten_list.append(num)
    print(under_ten_list)

under_ten(numlist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [29]:
lista = ["Teenage", "Mutant", "Ninja", "Turtles..."]
listb = ["Heroes", "InA", "Half", "Shell!"]

def turtles (a,b):
    turtles_list = []
    for lyric in a:
        turtles_list.append(lyric)
    for lyric in b:
        turtles_list.append(lyric)
    turtles_list.sort()
    print (turtles_list)

turtles(lista,listb)

['Half', 'Heroes', 'InA', 'Mutant', 'Ninja', 'Shell!', 'Teenage', 'Turtles...']